/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;


}

header {

}


footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

* {
  outline: 1px solid green;
}
div {
  margin: auto;
}
header h1 {
  font-size: 34px;
  font-weight: 800;
  color: white;
  padding: 50px 50px;
}
header h2 {
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding: 2em 0;
}
header button {
  background: #f9e42e;
  color: #033048;
  display: block;
  margin: auto;
  padding: 8px 40px;
  font-weight: 800;
  font-size: 14px;
  border-radius: 5px;
}
header a {
    text-decoration: none;
    color: #033048;
    margin: 0 auto;

}

/*Here are section styles*/

.benefits {
  font-size: 20px;
  color: #606161;
    padding: 80px 0 80px;
  background: #f0efef;
}
.benefits h2 {
  padding: 0 50px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 40px;
}
.benefits p {
  padding: 0 50px;
  width: 600px;
  font-size: 18px;
  font-weight: 300;
}
.benefits ul {
  padding: 20px 40px 40px 80px;
  font-size: 18px;
  font-weight: 300;
  list-style: disc;
}
.testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding: 70px 0 70px;
  text-align: center;
}
blockquote {
  font-weight: 300;
  font-style: italic;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  width: 600px;
  margin: 0 auto;
}
figcaption {
  font-size:  30px;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  width: 600px;
}
.signup {
  background: #f9e42e;
  padding: 30px;
}
.signup button {
  background: #033048;
  color: #fff;
  display: block;
  margin: auto;
  padding: 8px 40px;
  font-weight: 800;
  font-size: 12px;
  border-radius: 5px;
}
footer {
  background: #121212;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}
footer h2 {
  color: #f9e42e;
  padding: 1em;
  font-weight: 800;
}
footer ul li {
  display: inline;
  list-style: none;
  margin: 0 26px 75px;
}
footer p {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-top: 10px;

}
/*benefits background color: #f0efef
yellow: #f9e42e
dark blue: #033048
light grey: #606161
almost black: #121212

Font: Open Sans (Google Font: https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans)
Weight: Light, Light Italic, Semibold, Extrabold

"Relaxr" - Extra bold, 24px
"Get piece of mind with a single tap" - Semibold, 24px
"Get it Now" - Extra bold, 14px. 5px border radius
"Benefits" - Semibold, 20px
"The perfect personal assistant. Relaxr does your job for you so you can enjoy life as it is meant to be." - Light, 13px
• Schedule meetings for you
• Excel automation to complete your work for you
• Responds to emails on your behalf
• Does all your work for you with our revolutionary AI technology" - Light, 13px

"“Relaxr changed my life. I’ve been able to travel the world, spend limited time working and my boss keeps thanking me for crushing work.”" - Light Italic, 18px
"- Amanda, Intuit " - semibold, 18px

"Sign Up Now!" - extra bold, 12px, 5px border radius

Relaxr - extra bold, 24px
"Copyright 2015. Relaxr." - 9px, semibold

*/