body, input, button {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

#inputs {
  margin-bottom: 30px;
}
input {
  width: 50px;
  padding: .5em 0;
}
button {
  background: #CCC;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.7), 0 1px 2px rgba(0,0,0,.25);
  border-radius: 5px;
  padding: 10px 20px;
}
button:hover {
  background: #DDD;
}
button:active {
  background: #BBB;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.25);
}
#comparison {
  display: inline-block;
  width: 40px;
}

.summer {
  background-image: url('../images/summer.jpg');
  background-size: fill;
  background-repeat: no-repeat;
}

.winter {
  background-image: url('../images/winter.jpg');
  background-size: fill;
  background-repeat: no-repeat;
}

.spring {
  background-image: url('../images/spring.jpg');
  background-size: fill;
  background-repeat: no-repeat;
}

.autumn {
  background-image: url('../images/autumn.jpg');
  background-size: fill;
  background-repeat: no-repeat;
}

