/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
body * + * {
  font-size: 18px;
  line-height: 1.5;
}

#container {
  max-width: 1000px;
  margin: auto;
  background: #f0efef;
}

/*header and nav area*/
header {
  background-color: #033048;
  float: left;
  width: 100%;
  padding: 30px 0 30px 70px;
  margin-bottom: 50px;
}
.logo {
  float: left;
  width: 30%;
}
h1 {
  color: white;
  font-size: 48px;
  font-weight: 800;
}

nav {
  float: right;
  width: 70%;
  margin-top: 20px;
  text-align: right;
}

a{
  color:  #033048;
  text-decoration: none;
}

.link {
  font-size: 24px;
  font-weight: 500;
  color: #f9e42e;
  padding: 0 15px;
  vertical-align: middle;
  display: inline;
}

/*now we're getting into the main body*/
.main {
  width: 70%;
  float: left;
  margin: 0 auto;
  padding: 0.5em 2em;
}
article {
  padding: 0 auto;
  border-bottom: 1px solid #033048;
  margin-top: .5em;
}

article .bodyCopy::first-letter {
  font-size: 5em;
  font-weight: 600;
  color: gray;
  float: left;
  line-height: 60px;
  padding-top: 0;
  padding-right: 4px;
  padding-left: 3px;
}

article img {
  margin-bottom: 1.5em;
}


/*sidebar style*/
.sidebar {
  float: right;
  width: 27%;
  padding: 0 1.5em;
}


/*stuff below sidebar*/
.signup {
  background: #f9e42e;
  padding: 30px;
  width: 100%;
  clear: both;
}

.signup button {
  background: #033048;
  color: #fff;
  display: block;
  margin: auto;
  padding: 8px 40px;
  font-weight: 800;
  font-size: 12px;
  border-radius: 5px;
}

#ad-unit {
  width: 90%;
  margin: 0 auto;
}

section {
  margin-bottom: 3em;
}

h2 {
  color: #033048;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.sidebar h2 {
  font-weight: 800;
  font-size: 28px;
}
h2 ul li {
  line-height: 1;
  font-weight: 600;
  margin-top: 2px;
}
.sidebar span {
  font-weight: 800;
  color: #033048;
}
.readMore {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2em;
  text-align: right;
  display: block;
  vertical-align: right;
  margin-top: 1.5em;
}
footer {
  background: #121212;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
}
footer h2 {
  font-size: 34px;
  color: #f9e42e;
  padding: 1em;
  font-weight: 800;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 16px 20px;
}
footer p {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-top: 10px;

}

/******************************************
/* ADDITIONAL STYLES
/******************************************




