/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: black;
     background: black;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  background: #f0efef;
}
header {
  background: black;
  border-bottom: 5px solid rgb(248, 255, 0)
}
.logo {
  color: rgb(248, 255, 0);
  font-size: 48px;
  padding-top: 20px;
  padding-left:30px;
  font-family: Garamond;
  font-weight: 600;

}
nav {
  text-align: right;
  margin: 20px;
}
nav ul{
  list-style: none;
}
nav ul li {
  display: inline;
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  padding: auto;
  margin: 10px;
}
.special-link{
  text-transform: uppercase;
  font-weight: 800;
}
#slogan {
  background: rgb(198, 198, 198);
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-style: italic;
  font-weight: 600;
/*  font-family: Garamond;
*/}
.strikethrough {
  text-decoration: line-through;
  color: gray;
}
.underline {
  border-bottom: 3px solid rgb(248, 255, 0);
}
.hero {
  background: url("../images/coworking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
}
.hero-textbox {
  float: right;
  padding: 40px 35px 35px;
  background: rgba(255, 255, 255, .8);
  margin: 10px 30px;
  width: 35%;
  height: 95%;
  font-size: 18px;
  border: 1px solid rgb(198, 198, 198);
}
.hero-textbox h3 {
  font-size: 25px;;
  font-weight: 800;
  margin-bottom: .5em;
}
.hero-textbox button {
  background: rgb(248, 255, 0);
  padding: 12px 30px;
  margin: 65px auto;
  opacity: 1;
}
h3 {

}
button {
  text-transform: uppercase;
  background: rgb(198, 198, 198);
  text-align: center;
  padding: 12px;
  display: block;
  margin: 20px auto;
  font-weight: 800;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
}
section {
  clear: both;
  width: 100%
}
.trifold {
  float: left;
  width: 33.333333%;
  background: white;
  font-size: 14px;
  padding: 30px 50px;
/*  border-right: 1px solid gray;
*/}
.trifold h2 {
  font-size: 30px;
  font-family: Garamond;
  font-weight: 600;
  line-height: 1;
  margin-bottom: .5em;
}
footer {
  clear: both;
  background: black;
  color: white;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  padding: 20px;

}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*COLORS*/

.yellow {
  color: rgb(248, 255, 0);
}
.gray {
  color: rgb(198, 198, 198);
}

/*BOX SHADOW*/

.shadow {
  -webkit-box-shadow: 1px 1px 1px 1px #2f4f4f;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 1px 1px #2f4f4f;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 1px 1px #2f4f4f;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}