h1 {
   background: red;
    padding-top: 10px;
    height: 1.5em;
    text-align: center;
    border: 1px solid black;
}
p {
    color: white;
    background: blue;
    padding: 35px;
    border: 5px solid black;

}
code {
    color: black;
    background: white;
    padding: 10px;
    border: 2px solid green;
    margin: 30px 5px;
}